@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

*{
margin: 0;
text-align: center;}

.material-symbols-outlined{
    margin: 2%;
    font-size: 5em;
    text-shadow: 2px 2px whitesmoke;
    background-color: rgb(58, 149, 58);
}

.estilo{
color: burlywood;
font-family: "Comfortaa", sans-serif;
}

.border{
    border: 1px solid grey;
    width: 50%;
    margin: auto;
    padding: 0.5em;
}

#container{
    display: flex;
    gap: 1.5em;
    flex-direction: column;
}